<!-- select vendor and command -->
<div class="container row align-content-start pt-3 pd-3 mr-3">
  <div class="col-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="vendorMenu" ngbDropdownToggle>
        {{ selectedVendor }}
      </button>
      <div ngbDropdownMenu aria-labelledby="vendorMenu">
        <button
          ngbDropdownItem
          *ngFor="let vendor of vendors"
          (click)="selectVendor(vendor)"
        >
          {{ vendor }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="commandMenu"
        ngbDropdownToggle
      >
        {{ selectedCommand }}
      </button>
      <div ngbDropdownMenu aria-labelledby="commandMenu">
        <button
          ngbDropdownItem
          *ngFor="let command of commands"
          (click)="selectCommand(command)"
        >
          {{ command }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Search For Device  -->
<div class="container row  align-content-center pt-3">
  <div class="col-3">
    <input
      class="form-control form-control-range pl-2"
      type="text"
      placeholder="ATE Tag Number"
    />
  </div>
  <div class=" nopadding col-3">
    <input
      class="form-control form-control-range"
      type="text"
      placeholder="Mac Address"
    />
  </div>
  <div class=" pr-3 col-2  ">
    <button type="button" class="btn btn-outline-primary ml-3">
      Sreach
    </button>
  </div>
</div>

<!-- table of selected Devices -->
<div class=" pl-3 pr-5 pt-3">
  <table class="table table-bordered table-hover table-striped w-50 ">
    <thead>
      <tr>
        <!-- <th scope="col">Device ID</th> -->
        <th scope="col">Mac Address</th>
        <th scope="col">Tag Number</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices; index as i">
        <!-- <td>
          {{ device.id }}
        </td> -->
        <td>{{ device.macAdress }}</td>
        <td>{{ device.tagNumber }}</td>
        <td>
          <button type="button" class="btn btn-outline-danger">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="container row pt-3 pl-5">
  <div class="col-md-10 bs-linebreak"></div>
</div> -->

<app-command-details></app-command-details>
