/* Table hover color */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #89cff0;
}

.bs-linebreak {
  height: 3px;
  background-color: darkgray;
}
.nopadding {
  padding-right: 0 !important;
}
