/* Table hover color */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #89cff0;
}

.bs-linebreak {
  height: 3px;
  background-color: darkgray;
}

/* .main-div {
  background: #ea4623;
}

.search-div {
  background: #5fea23;
} */
