<!-- select vendor and command -->
<div class=" main-div container row align-content-start pt-3 pd-3 mr-3">
  <div class=" container col-6">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        vendor
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="this.selectVendor()">
          ROMTECH
        </button>
      </div>
    </div>
  </div>

  <div class=" container col-6">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Command
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Retrieve Device Information</button>
        <button ngbDropdownItem>Device Communication</button>
        <button ngbDropdownItem>Device Restart request</button>
        <button ngbDropdownItem>Point Report</button>
        <button ngbDropdownItem>Point Flags</button>
        <button ngbDropdownItem>Write Flag</button>
      </div>
    </div>
  </div>
</div>

<!-- Search For Device  -->
<div class="container row  align-content-center pt-3">
  <div class="container col-4">
    <input
      class="form-control form-control-lg pl-2"
      type="text"
      placeholder="ATE Tag Number"
    />
  </div>
  <div class="container col-4">
    <input
      class="form-control form-control-lg "
      type="text"
      placeholder="Mac Address"
    />
  </div>
  <div class="container pr-3 col-4">
    <button type="button" class="btn btn-lg btn-outline-primary ml-3">
      Sreach
    </button>
  </div>
</div>

<!-- table of selected Devices -->
<div class=" pl-3 pr-5 pt-3">
  <table class="table table-bordered table-hover table-striped w-75">
    <thead>
      <tr>
        <th scope="col">Device ID</th>
        <th scope="col">Mac Address</th>
        <th scope="col">Tag Number</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices; index as i">
        <td>
          {{ device.id }}
        </td>
        <td>{{ device.macAdress }}</td>
        <td>{{ device.tagNumber }}</td>
        <td>
          <button type="button" class="btn btn-outline-danger">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="container row pt-3 pl-5">
  <div class="col-md-10 bs-linebreak"></div>
</div> -->
