<div class="container pt-3  pb-3">
  <!-- Request Form -->
  <div class="container border mr-3 ">
    <div class="pt-3 container">
      <h4>Command Details</h4>
    </div>

    <div class="container row pt-3">
      <div class=" col-2">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Point Type
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>input</button>
            <button ngbDropdownItem>status</button>
            <button ngbDropdownItem>bms</button>
          </div>
        </div>
      </div>

      <div class=" col-3">
        <input
          class="form-control form-control-range"
          type="text"
          placeholder="Point Number"
        />
      </div>

      <div class=" col-2">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Point Flag
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>disabled</button>
            <button ngbDropdownItem>out-of-service</button>
            <button ngbDropdownItem>invert-polarity</button>
            <button ngbDropdownItem>send-extrainfo</button>
          </div>
        </div>
      </div>

      <div class=" col-1">
        <button type="button" class="btn btn-outline-primary ">
          Send
        </button>
      </div>
    </div>
    <!-- Response Table -->
    <div class="pt-5 container">
      <h4>Response</h4>
    </div>

    <div class="pl-3 pr-5 pt-3">
      <table class="table table-bordered table-hover table-striped ">
        <thead>
          <tr>
            <th scope="col">Mac Address</th>
            <th scope="col">Tag Number</th>
            <th scope="col">Ponit Type</th>
            <th scope="col">Point Number</th>
            <th scope="col">Point Flag</th>
            <th scope="col">State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let response of this.responseData; index as i">
            <td>{{ response.macAdress }}</td>
            <td>{{ response.tagNumber }}</td>
            <td>{{ response.pointType }}</td>
            <td>{{ response.pointNumber }}</td>
            <td>{{ response.pointFlag }}</td>
            <td>{{ response.state }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
